/* You can add global styles to this file, and also import other style files */
/*@import "vendor/css/bootstrap.min.css";*/
@import "vendor/css/bootstrap-material-design.min.css";
@import "~font-awesome/css/font-awesome.css";
/*@import "./vendor/css/datatables.bootstrap4.min.css";
@import "./vendor/css/rowReorder.dataTables.min.css";
@import "./vendor/css/responsive.dataTables.min.css";
@import "./vendor/css/select2.min.css";*/
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@mdi/font/css/materialdesignicons.min.css';


.task-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.task-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.task-body {
    padding: 2px 16px;
}

.task-header{
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}

.task-footer{
	line-height: 70px;
}

.task-footer span{
	padding: 2px 15px;
	
}

.task-footer span:hover{
	cursor: pointer;
}
